<div class="modal fade" id="offline-download-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">オフライン版のダウンロード</h4>
			</div>
			<div class="modal-body">
				<div>
					オフライン版をダウンロードしますか？
				</div>
				<div>
					ファイル名：MochiLifeSimulator.zip
				</div>
				<div>
					ファイルサイズ：52.0&nbsp;MB
				</div>
				<div>
					対応環境：Windows 7/10 64bit
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-download" data-dismiss="modal">ダウンロード</button>
				<button type="button" class="btn btn-primary btn-cancel" data-dismiss="modal">キャンセル</button>
			</div>
		</div>
	</div>
</div>
