<% if @buildMode == 'web' : %>
<script src="./js/jquery.min.js"></script>
<% end %>
<% if @buildMode == 'electron' : %>
<script>
window.jQuery = window.$ = require('./js/jquery.min.js');
</script>
<% end %>
<script src="./js/jquery-ui.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/bootstrap-datepicker.min.js"></script>
<script src="./js/bootstrap-datepicker.ja.min.js"></script>
<script src="./js/Chart.bundle.min.js"></script>
<script src="./js/autoNumeric.min.js"></script>
<script src="./js/bootstrap-number-input.js"></script>
<script src="./js/account-book-simulator-2.js"></script>
