#main {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(222, 235, 247);
	transition: opacity 0.2s ease-out;
	opacity: 0;

	.main-inner {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
}
