$main_body_right_width: 300px;
$items_area_height: 200px;
$info_text_color: #444444;

#main {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $main_bg;
	transition: opacity 0.2s ease-out;
	opacity: 0;

	.navbar {
		margin: 0;
		color: $info_text_color;

		.navbar-brand,
		.navbar-nav {
			color: $info_text_color;
		}
	}

	.main-inner {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;

		.main-body {
			position: relative;
			width: 100%;
			height: calc(100% - 52px);

			.main-body-left {
				position: relative;
				float: left;
				width: calc(100% - #{$main_body_right_width});
				height: 100%;

				.graph-area {
					float: left;
					width: 100%;
					height: calc(100% - #{$items_area_height});
					background-color: white;
				}

				.items-area {
					display: flex;
					flex-wrap: wrap;
					align-content: flex-start;
					overflow-y: scroll;
					float: left;
					width: 100%;
					height: $items_area_height;
					margin: 0;
					padding: 10px;

					.item-button {
						display: flex;
						align-items: center;
						min-width: 50px;
						max-width: 250px;
						height: 65px;
						margin: 2px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						border-radius: unset;
						color: $info_text_color;
						background-color: #f8f8f8;
						box-shadow: 1px 1px 0px 0px #999999;
						transition: top 0.2s ease-out;
						transition: left 0.2s ease-out;

						&:hover {
							cursor: move;
							background-color: #e6e6e6;
						}

						&:active {
							background-color: #d4d4d4;
						}

						> div {
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
					}
				}
			}

			.main-body-right {
				float: left;
				width: $main_body_right_width;
				height: 100%;
				background-color: $main_body_right_bg;
			}
		}
	}
}
