<div id="main">
	<div class="main-inner">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="navbar-brand">生涯収支シミュレーター</div>
				</div>

				<div class="collapse navbar-collapse" id="navbarEexample1">
					<ul class="nav navbar-nav">
						<li><a href="javascript:App.TopMenuArea.NewFile();">新規作成</a></li>
						<li><a href="javascript:App.TopMenuArea.ShowOpenFileDialog();">開く</a></li>
						<li><a href="#" download="無題.mochi" id="navbar__save-link">保存する</a></li>
						<li><a href="#" class="navbar-nav__modal-link" data-toggle="modal" data-target="#about-modal">バージョン情報</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main-body">
			<div class="main-body-left">
				<% include 'main/graph_area/_graph_area.html' %>
				<% include 'main/items_area/_items_area.html' %>
			</div>
			<div class="main-body-right">
				<% include 'main/item_detail_area/_item_detail_area.html' %>
			</div>
		</div>
	</div>
</div>
