<div class="item-detail-area">
	<div class="item-name">
		<label>項目名</label>
		<input type="text" name="item-name" class="form-control">
	</div>
	<div class="panel-group" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default item-frequency">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" role="button" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						頻度
					  </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					コンテンツ１
				</div>
			</div>
		</div>
		<div class="panel panel-default item-term">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						期間
					  </a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					コンテンツ２
				</div>
			</div>
		</div>
		<div class="panel panel-default item-zogen">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						増減
					  </a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					コンテンツ３
				</div>
			</div>
		</div>
	</div>
</div>
