.item-detail-area {
	padding: 5px;

	.item-name {
		display: flex;
		align-items: center;
		margin-bottom: 5px;

		> label {
			width: 64px;
		}
	}
	.item-frequency,
	.item-term,
	.item-zogen {
		box-shadow: 1px 1px 0px 0px #999999;

		.panel-heading {
			padding: 0;

			.panel-title {
				a {
					display: block;
					padding: 10px;
					text-decoration: none;
				}
			}
		}
	}
}
