<div class="item-detail-area">
	<div class="item-name">
		<label>項目名</label>
		<input type="text" name="item-name" class="form-control">
	</div>
	<label class="radio-inline active"><input checked type="radio" name="spending-income">支出</label>
	<label class="radio-inline"><input type="radio" name="spending-income" value="">収入</label>
	<div class="panel-group" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default item-frequency">
			<div class="panel-heading" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" role="button" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						頻度
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<label class="radio-inline active"><input checked type="radio" name="frequency" value="monthly">毎月</label>
					<label class="radio-inline"><input type="radio" name="frequency" value="every-year">毎年</label>
					<label class="radio-inline"><input type="radio" name="frequency" value="one-time">1回限り</label>
					<div class="frequency-monthly">
						<div class="frequency-count">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<!--ここに選択文字列を書く--><span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<% for i in [1..31] : %>
									<li><a href="#"><%- i %></a></li>
									<% end %>
								</ul>
							</div>
							<!-- <input type="text" name="frequency-count" class="form-control"> -->
							<label>回</label>
						</div>
					</div>
					<div class="frequency-every-year">
						<div class="frequency-month">
							<input type="text" name="frequency-month" class="form-control">
							<label>月</label>
						</div>
					</div>
					<div class="frequency-one-time">
						<div class="form-group">
							<label class="control-label">年月</label>
							<div class="form-inline">
								<div class="input-group date">
									<input type="text" class="form-control" value="">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="amount">
						<label>金額&nbsp;[円]</label>
						<input type="text" name="amount" class="form-control">
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default item-term">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						期間
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div class="term-from">
						<div class="form-group">
							<label class="col-sm-3 control-label">開始</label>
							<div class="col-sm-9 form-inline">
								<div class="input-group date">
									<input type="text" class="form-control" value="">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="term-to">
						<div class="form-group">
							<label class="col-sm-3 control-label">終了</label>
							<div class="col-sm-9 form-inline">
								<div class="input-group date">
									<input type="text" class="form-control" value="">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default item-zogen">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						金額の増減
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<label class="radio-inline active"><input checked type="radio" name="zogen" value="monthly">毎月</label>
					<label class="radio-inline"><input type="radio" name="zogen" value="every-year">毎年</label>
					<label class="radio-inline"><input type="radio" name="zogen" value="one-time">1回限り</label>
					<div class="frequency-monthly">
						<div class="frequency-count">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<!--ここに選択文字列を書く--><span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<% for i in [1..31] : %>
									<li><a href="#"><%- i %></a></li>
									<% end %>
								</ul>
							</div>
							<!-- <input type="text" name="frequency-count" class="form-control"> -->
							<label>回</label>
						</div>
					</div>
					<div class="frequency-every-year">
						<div class="frequency-month">
							<input type="text" name="frequency-month" class="form-control">
							<label>月</label>
						</div>
					</div>
					<div class="frequency-one-time">
						<div class="form-group">
							<label class="col-sm-3 control-label">年月</label>
							<div class="col-sm-9 form-inline">
								<div class="input-group date">
									<input type="text" class="form-control" value="">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="amount">
						<label>金額&nbsp;[円]</label>
						<input type="text" name="amount" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
