.items-area {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
	float: left;
	width: 100%;
	height: $items_area_height;
	margin: 0;
	padding: 5px;

	.item-button {
		display: flex;
		align-items: center;
		min-width: 50px;
		max-width: 250px;
		height: 65px;
		margin: 2px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		border-radius: unset;
		color: $info_text_color;
		background-color: #f8f8f8;
		box-shadow: 1px 1px 0px 0px #999999;
		transition: top 0.2s ease-out;
		transition: left 0.2s ease-out;

		&:hover {
			cursor: move;
			background-color: #e6e6e6;
		}

		&:active,
		&.selected {
			background-color: #d4d4d4;
		}

		&:last-child {
			border: 3px solid #777777;
			font-size: 32px;
			background-color: transparent;
			box-shadow: none;

			&:hover {
				cursor: pointer;
			}
		}

		> div {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			pointer-events: none;
		}
	}
}
