.items-area {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: scroll;
	float: left;
	width: 100%;
	height: $items_area_height;
	margin: 0;
	padding: 5px;

	.item-button {
		display: flex;
		align-items: center;
		min-width: 150px;
		max-width: 250px;
		height: 65px;
		margin: 2px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		border-radius: unset;
		color: $info_text_color;
		background-color: #f8f8f8;
		box-shadow: 1px 1px 0px 0px #999999;
		transition: top 0.2s ease-out;
		transition: left 0.2s ease-out;

		&:hover {
			cursor: move;
			background-color: #e6e6e6;
		}

		&:active,
		&.selected {
			background-color: #d4d4d4;
		}

		&:last-child {
			width: 68px;
			min-width: 0px;
			border: 3px solid #777777;
			font-size: 32px;
			background-color: transparent;
			box-shadow: none;

			&:hover {
				cursor: pointer;
			}
		}

		.item-button__checkbox {
			width: 18px;
			height: 18px;
			margin-top: -34px;
			margin-left: -12px;
			border-radius: 2px;
		}

		.item-button__label {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			pointer-events: none;
			margin-top: 20px;
			min-width: 104px;
			text-align: center;
		}

		.glyphicon {
			margin-right: -13px;
			margin-top: -36px;
			width: 20px;
			height: 20px;
			padding: 0;
		}
	}
}
